'context-menu':
  '.tree-view':
    'File Icon Supplement':
      'Toggle Active Icons On/Off': 'file-icon-supplement:toggleAllClass'
      'Toggle Tree-View Icons On/Off': 'file-icon-supplement:toggleTreeViewClass'
  '.tab-bar':
    'File Icon Supplement':
      'Toggle Active Icons On/Off': 'file-icon-supplement:toggleAllClass'
      'Toggle Tab-Bar Icons On/Off': 'file-icon-supplement:toggleTabClass'
  '.status-bar':
    'File Icon Supplement':
      'Toggle Active Icons On/Off': 'file-icon-supplement:toggleAllClass'
      'Toggle Grammar Icons On/Off': 'file-icon-supplement:toggleGrammarClass'
  '.grammar-selector':
    'File Icon Supplement':
      'Toggle Active Icons On/Off': 'file-icon-supplement:toggleAllClass'
      'Toggle Grammar Icons On/Off': 'file-icon-supplement:toggleGrammarClass'
  '.fuzzy-finder':
    'File Icon Supplement':
      'Toggle Active Icons On/Off': 'file-icon-supplement:toggleAllClass'
      'Toggle Fuzzy Finder Icons On/Off': 'file-icon-supplement:toggleFuzzyFinderClass'
  '.preview-pane':
    'File Icon Supplement':
      'Toggle Active Icons On/Off': 'file-icon-supplement:toggleAllClass'
      'Toggle Find And Replace Icons On/Off': 'file-icon-supplement:toggleFindAndReplaceClass'
