@import "octicon-utf-codes";
@import "file-icon-supplement-utf-codes";
@import "fonts";

.font-content(md) {
  .icon-font(@markdown; @octicons);
}

.font-content(json) {
  .icon-font(@settings; @octicons);
}

.font-content(LICENSE) {
  .icon-font(@opensource)
}

.font-content(coffee) {
  .icon-font(@coffeescript)
}

.font-content(CoffeeScript){
  .icon-font(@coffeescript-text, @fontsize: 12px)
}

.icon-style(@fontsize: 16px){
  font-size: @fontsize;
  margin-right: 5px;
  top: 0;
  left: 0;
}

.icon-font(@icon; @font-family: @fis; @fontsize: 16px){
  .icon-style(@fontsize);
  font-family: @font-family;
  content: @icon;
}
