@import 'font-mixins';

.load-type-variables(@type) when (@type = extension) {
  @regex: ~'$';
  @attr: ~'data-name@{regex}';
  @period: ~'.';
};

.load-type-variables(@type) when (@type = file) {
  @regex: ~'^';
  @attr: ~'data-name@{regex}';
  @period: ~''
};

.load-type-variables(@type) when (@type = grammar) {
  @attr: ~'title';
  @period: ~''
};

.icon-generator(@type; @extensions; @icon; @font-family: @fis; @font-size: 16px){
  .load-type-variables(@type);
  .loop(length(@extensions));
  .loop(@n) when (@n > 0) {
    @ext: extract(@extensions, @n);
    &[@{attr}="@{period}@{ext}"] {
      top: 0;
      &:before {
        .icon-font(@icon; @font-family; @font-size)
      }
    }
    .loop((@n - 1));
  }
}
