@import 'font-mixins';

.load-type-variables(@type) when (@type = extension) {
  @regex: ~'$';
  @attr: ~'data-name@{regex}';
  @period: ~'.';
  @text-font-size: inherit;
  @margin-right: 5px;
}

.load-type-variables(@type) when (@type = file) {
  @regex: ~'^';
  @attr: ~'data-name@{regex}';
  @period: ~'';
  @text-font-size: inherit;
  @margin-right: 5px;
}

.load-type-variables(@type) when (@type = grammar) {
  @attr: ~'data-grammar';
  @period: ~'';
  @text-font-size: 0;
  @margin-right: 0;
}

.icon-generator(@type; @extensions; @icon; @font-family: @fis; @font-size: 16px){
  .load-type-variables(@type);
  .loop(length(@extensions));
  .loop(@n) when (@n > 0) {
    @ext: extract(@extensions, @n);
    &[@{attr}="@{period}@{ext}"] {
      font-size: @text-font-size;
      &:before {
        margin-right: @margin-right;
        .icon-font(@icon; @font-family; @font-size)
      }
    }
    .loop((@n - 1));
  }
}
