@import 'selector-mixins';

@tree-view: ~'.fis-tree';
@tabs: ~'.fis-tab:not(.hide-icon)';
@fuzzy-finder: ~'.fis-fuzzy';
@find-and-replace: ~'.fis-find';
@grammar-status: ~'.fis-grammar-status';
@grammar-selector: ~'.fis-grammar-selector';

@{tree-view}, @{tabs}, @{fuzzy-finder}, @{find-and-replace}{
  .icon-generator(extension; md, mdown; @markdown; @octicons);
  .icon-generator(extension; json, cson; @settings; @octicons);
  .icon-generator(extension; coffee; @coffeescript);
  .icon-generator(file; LICENSE; @opensource);

}

@{grammar-status} {
  .icon-generator(grammarStatus; CoffeeScript; @coffeescript-text; @font-size: 12px)
}

@{grammar-selector} {
  .icon-generator(grammarSelector; CoffeeScript; @coffeescript-text; @font-size: 14px) !important;
}
